:root {
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --dark-cyan: #34C3BE;
    --lighten-yellow: #F2B138;
    --hoverImg: url(./assets/icon-x-outline.svg);
}

body {
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    height: 100vh;
    /* display: grid; */
    place-items: center;
    letter-spacing: .08em;
    background: var(--primary);
    color: var(--grey);
}


.initializer{
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-items: center;
    gap: 20px;
}

.initial{
    background: var(--secondary);
    height: 250px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    place-items: center;
    color: var(--grey);
    font-size: 1rem;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    gap: 10px;
}


/* .sign-selector {
    width: 80%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    border-radius: 18px;
    overflow: hidden;
    background: #1A2B33;
    position: relative;
    padding: 10px;
} */
.switch-field {
    display: grid;
    overflow: hidden;
    padding: 1rem;
    background: var(--primary);
    border-radius: 10px;
    width: 80%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	/* color: var(--grey); */
    display: flex;
    justify-content: center;
	/* line-height: 1.5; */
	text-align: center;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
    border-radius: 20px;
}

label >img{
    padding:10%;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: var(--grey);
	box-shadow: none;
    color: var(--primary)
}

.start_button {
    height: 50px;
    padding-bottom: 5px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-weight: 700;
    border: solid;
    box-shadow: inset 0 -3px 2px rgba(0, 0, 0, .3);
}
.start_button {
    background: var(--lighten-yellow);
    width: 80%;
}


.header{
    display:flex;
    gap:0.8rem;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

/* .header img{
    width:0px;
    height:20px;
} */

.turn{
    display:flex;
    background:var(--secondary);
    font-size: 1.2rem;
    align-items: center;
    padding: 0.5rem 1rem;
    gap:10px;
    font-weight:bold;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .5)

}


.turn img{
    width:20px;
    height:20px;
}


main{
    display: grid;
    align-items: center;
    grid-template-rows: 0.25fr 1fr 0.25fr;
    height:100vh;
}


.reset{
    background: var(--grey);
    height: 50px;
    width: 50px;
    border: hidden;
    color: var(--secondary);
    font-family: 'Outfit', sans-serif;
    border-radius: 10px;
    font-weight:bold;
}

.disabled {     /* Used to hide dom elements via Javascript at certain events */
    display: none !important;
}

.board_container{
    display: flex;
    justify-content: center;
}
.board{
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}
.board_field {
    color: var(--woody-brown);
    background: #1E3640;
    border-radius: 5px;
    font-weight: 700;
    place-items: center;
    font-size: 3.5rem;
    outline: 2px solid var(--opac-black);
    outline: 2px solid rgba(255, 255, 255, .2);
    transition: all .5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

    width: 1.6em;
    height: 1.6em; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(./assets/icon-x.svg); */
    transition: all .5s ease;

}

.solid {
    color: var(--woody-brown);
    background: #1E3640;
    border-radius: 5px;
    font-weight: 700;
    place-items: center;
    font-size: 3.5rem;
    outline: 2px solid var(--opac-black);
    outline: 2px solid rgba(255, 255, 255, .2);
    transition: all .5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

    width: 1.6em;
    height: 1.6em; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;

}

.new:hover{
    transform: scale(1.1);
    border-color: #202020;
    box-shadow: 0 0 1rem #202020;
    background-image: var(--hoverImg)
  }

/* .state{
    width: 1.6em;
    height: 1.6em; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/icon-x.svg);
    transition: all .5s ease;
}  */


.scoreboard{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    /* text-align: center; */
    padding: 0 10px 50px 10px;
    align-items: center;
    flex: 1 1 0%;
}

.scoreboard > div{
    /* height: 1rem;
    width: 6rem; */
    border-radius: 10px;
    color:var(--secondary);
    border: hidden;

}

.playerX{
    background: var(--dark-cyan);
}

.ties{
    background: var(--grey);
}

.playerO{
    background: var(--lighten-yellow);
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    flex: 1 1 0%;
    padding:2%;
}

.score > div:first-child {
    font-size: 10px;
 }

 .bold { 
    font-size: 20px;
    font-weight:bold;
 }
